body {
  background-color: rgb(70, 70, 70);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: auto;
}

#mainPanel {
  background-color: rgb(21, 135, 153);
  height: 250px;
  color: white;
  text-align: center;
}

#secondaryPanel {
  background-color: white;
  height: 25px;
}

#newColorsBtn {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(21, 135, 153);
  font-weight: bold;
}

#newColorsBtn:hover {
  background-color: rgb(21, 135, 153);
  color: white;
  cursor: pointer;
}

#levelHardBtn {
  width: 120px;
  height: 25px;
  text-align: center;
  color: rgb(255, 115, 91);
}

#levelHardBtn:hover {
  background-color: rgb(255, 115, 91);
  color: white;
  cursor: pointer;
}

.levelHardBtnActive {
  background-color: rgb(255, 115, 91);
  color: white !important;
  cursor: pointer;
}

#levelMediumBtn {
  width: 120px;
  height: 25px;
  text-align: center;
  color: rgb(209, 193, 45);
}

#levelMediumBtn:hover {
  background-color: rgb(209, 193, 45);
  color: white;
  cursor: pointer;
}

.levelMediumBtnActive {
  background-color: rgb(209, 193, 45);
  color: white !important;
  cursor: pointer;
}

#levelEasyBtn {
  width: 120px;
  height: 25px;
  text-align: center;
  color: rgb(52, 149, 0);
}

#levelEasyBtn:hover {
  background-color: rgb(52, 149, 0);
  color: white;
  cursor: pointer;
}

.levelEasyBtnActive {
  background-color: rgb(52, 149, 0);
  color: white !important;
  cursor: pointer;
}

#status {
  color: rgb(21, 135, 153);
}

#statusValue {
  color: rgb(52, 149, 0);
}

.oneOfColors {
  height: 220px;
  width: 220px;
  border-radius: 10px;
  padding: 0px;
  cursor: pointer;
}

#dropdown {
  height: 25px;
  padding: 0px;
  width: 120px;
  color: white !important;
}

.dropdown-item {
  padding: 0px;
  margin: 0px;
  width: auto !important;
}

.dropdown-menu {
  padding: 0px;
  margin: 0px;
}

.btn-success {
  background-color: rgb(52, 149, 0) !important;
  border: none;
}

.btn-warning {
  background-color: rgb(209, 193, 45) !important;
  border: none;
}

.btn-danger {
  background-color: rgb(255, 115, 91) !important;
  border: none;
}

.fade-out {
  animation: fadeOut ease 0.25s;
  -webkit-animation: fadeOut ease 0.25s;
  -moz-animation: fadeOut ease 0.25s;
  -o-animation: fadeOut ease 0.25s;
  -ms-animation: fadeOut ease 0.25s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
