body {
  background-color: rgb(98, 98, 98);
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mainPanel {
  background-color: rgb(21, 135, 153);
  height: 250px;
  color: white;
  text-align: center;
}
#secondaryPanel {
  background-color: white;
  height: 25px;
}
#newColorsBtn {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(21, 135, 153);
}
#newColorsBtn:hover {
  background-color: rgb(21, 135, 153);
  color: white;
  cursor: pointer;
}
#levelHardBtn {
  width: 120px;
  height: 25px;
  text-align: center;
  color: rgb(255, 115, 91);
}
#levelHardBtn:hover {
  background-color: rgb(255, 115, 91);
  color: white;
  cursor: pointer;
}
.levelHardBtnActive {
  background-color: rgb(255, 115, 91);
  color: white !important;
  cursor: pointer;
}
#levelMediumBtn {
  width: 120px;
  height: 25px;
  text-align: center;
  color: rgb(209, 193, 45);
}
#levelMediumBtn:hover {
  background-color: rgb(209, 193, 45);
  color: white;
  cursor: pointer;
}
.levelMediumBtnActive {
  background-color: rgb(209, 193, 45);
  color: white !important;
  cursor: pointer;
}
#levelEasyBtn {
  width: 120px;
  height: 25px;
  text-align: center;
  color: rgb(52, 149, 0);
}
#levelEasyBtn:hover {
  background-color: rgb(52, 149, 0);
  color: white;
  cursor: pointer;
}
.levelEasyBtnActive {
  background-color: rgb(52, 149, 0);
  color: white !important;
  cursor: pointer;
}
#status {
  color: rgb(21, 135, 153);
}
#statusValue {
  color: rgb(52, 149, 0);
}
.oneOfColors {
  width: 250px;
  height: 220px;
  border-radius: 25px;
  cursor: pointer;
}
#dropdown {
  height: 25px;
  padding: 0px;
  width: 120px;
  color: white !important;
}
.dropdown-item {
  padding: 0px;
  margin: 0px;
  width: auto !important;
}
.dropdown-menu {
  padding: 0px;
  margin: 0px;
}
.btn-success {
  background-color: rgb(52, 149, 0) !important;
  border: none;
}
.btn-warning {
  background-color: rgb(209, 193, 45) !important;
  border: none;
}
.btn-danger {
  background-color: rgb(255, 115, 91) !important;
  border: none;
}
